{% extends 'Datos/padre.html' %}


{% block contenido %}

                            <h1 class="mb-5">Futbolistas</h1>
                            <h2>Listado de jugadores del Club Nacional de Football.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

<form action="/datos/futbolistas/buscar/" method="post">

    <ul>
        {% for futbolista in futbolistas %}
        <li>{{futbolista.nombre}} {{futbolista.apellido}} - {{futbolista.nacimiento}} - {{futbolista.posicion}}</li>
        {% endfor %}
    </ul>


{% endblock %}