{% extends 'Datos/padre.html' %}


{% block contenido %}

                            <h1 class="mb-5">Técnicos</h1>
                            <h2>Listado de Técnicos Club Nacional de Football.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

<form action="/datos/tecnicos/crear/" method="post">

    <form action="" method="post">
        {% csrf_token %}
    
        {{ formulario.as_p }}
    
        <input type="submit" value="Cargar Técnico">
    
    </form>
    
    {% endblock %}
    